.satisfaction-guaranteed-content h3{
    text-align: center;
    margin-bottom: 5rem;
}


.satisfaction-guaranteed-box{
    padding: 2.5rem;
    background-position: left bottom 0px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
}

.satisfaction-guaranteed-box h4{
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}
.satisfaction-guaranteed-box p{
    color: white;
    margin-bottom: 2rem;
}
@media (max-width: 769px) {
    .satisfaction-guaranteed-boxes {
        flex-direction: column;
    }

}
.file-input:disabled {
    opacity: 0.5;
}
.file-input:enabled {
    opacity: 1;
}


/* Genel kutu stili */
.satisfaction-guaranteed-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow:  10px 8px 8px rgba(0, 86, 236, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Form etiketleri ve input stili */
.form-label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.file-input {
    padding: 10px ;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}



/* Tahmin sonucu kutusu */
.result {
    background-color: #e8f1fb;
    margin-top: 40px;
    border-radius: 5px;
    color: black;
    box-shadow:  4px rgba(13, 13, 13, 0.1);
    font-weight: bold;
    text-align: center;

}
.result h2{
    font-size: medium !important;
}
/* Yüklenen görüntü */
.uploaded-image {
    margin-top: 20px;
}


.result p.tumor-yes {
    color: red ;
}
.result p.tumor-no {
    color: green ;
}


.uploaded-image img {
    max-width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}
.upload-form input{
    text-align: center;
    opacity: 0.6;
}
/* Güven skoru ve sonucu vurgulamak */
.result p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

/* Responsive tasarım */
@media (max-width: 600px) {
    .satisfaction-guaranteed-box {
        width: 95%;
    }

    .button {
        width: 100%;
    }
}

input[type="file"] {
    margin: 15px 0;
}
.file-input:disabled {
    opacity: 0.5;
}
.file-input:enabled {
    opacity: 1;
}

